In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("https://raw.githubusercontent.com/fadhlyal/Tupro_Fuzzy/main/bengkel.xlsx")

In [4]:
df

     id  servis  harga
0     1      58      7
1     2      54      1
2     3      98      2
3     4      52      4
4     5      11      4
..  ...     ...    ...
95   96      30      1
96   97      25      3
97   98      27     10
98   99       8      6
99  100      11      8

[100 rows x 3 columns]